.main-card{
    width: 300px;
}
@media screen and (max-width:1480px) {
    .main-card{
        width: 350px;
    }
}
@media screen and (max-width:1323px) {
    .main-card{
        width: 320px;
    }
}
@media screen and (max-width:1230px) {
    .main-card{
        width: 280px;
    }
}
@media screen and (max-width:1100px) {
    .main-card{
        width: 370px;
    }
}
@media screen and (max-width:998px) {
    .main-card{
        width: 310px;
    }
}
@media screen and (max-width:898px) {
    .main-card{
        width: 360px;
    }
}
@media screen and (max-width:772px) {
    .main-card{
        width: 310px;
    }
}
@media screen and (max-width:670px) {
    .main-card{
        width: 280px;
    }
}
@media screen and (max-width:605px) {
    .main-card{
        width:100%;
    }
}